* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffe6cc;
    font-family:'Courier New', Courier, monospace
    }

header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 45%;
}

.header-fonts {
    text-decoration: none;
    color: black;
    font-family: 'Press Start 2P';
}

header h1 {
    font-size: 36px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-shadow: 0 5px 0px rgba(55, 155, 255, 0.50);
    align-items: center;
    margin-left: 20px;
}

header a {
    text-decoration: none;
    color: black;
    font-family: 'Press Start 2P';
}

header nav {
    margin: 14px 0;
}

header nav ul {
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-around;
    list-style: none;
    align-items: inherit;
}

header nav ul li a {
    padding: 30px;
    font-size: 1.4vw;
    text-shadow: 0 5px 0 rgba(55, 155, 255, 0.50);
}

.hero {
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-around;
    background-image: url("77caa32884d735d439ade45ba37feaf2.gif");
    width: 100%;
    height: 400px;
    background-position: 80%;
    border-radius: 20%;
    margin-top: 50px;
}

.hero h2 {
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-around;
    text-shadow: 0 5px 0px rgba(155, 155, 255, 1.0);
    color:wheat;
    font-size: 30px;
    margin: 15px;
}
